.container {
    color: black;
    display: flexbox;
    border-radius: 1em;
    border: 0.01em solid grey;
    padding: 1%; 
    width: 95%;
    height: auto;
    min-height: 640px;
    min-width: 1000px;
    max-width: 1900px;

  }
  .padding {
    padding: 1%; 
    border: 1px white;
    display: flexbox;
    width: 105%;
    height: 103%;
  }
.contacts1 {
    font-size: 3em;
}
.contacts2 {
    font-size: 1em;
    text-align: justify;
}
.contacts3 {
    font-size: 1em;
    word-wrap:break-word;
    width: 99%;
    text-align: justify;
}
.tableStyle1 {
    border-collapse: collapse;
    width: 30%;
}
.olStyle{
    display: list-item;
    list-style-position: inside;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.liStyle{
    display: list-item;
    text-align: -webkit-match-parent;
}
.tableStyle2 {
    border: 1px solid black;
    border-collapse: collapse;

}
 
  