.container {
    color: black;
    display: flexbox;
    border-radius: 25px;
    border: 1px solid grey;
    padding: 20px; 
    width: 100%;
    height: 96%;
    top: 0.1%;
    min-width: 800px;
    max-width: 1080px;
    
  }
  .padding {
    padding: 20px; 
  }
.contacts1 {
    font-size: 40px;
}
.contacts2 {
    font-size: 20px;
    
}
  
  